<html>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:white;
}
</style>

<center>

<h1> PREDICTION : </h1>

{%if data ==0%} 
  <body bgcolor="green">
  <h2>Low risk-No worries Just keep taking care</h1>

<!--<img src='static\setosa.jpg">-->

{%else%}
<body bgcolor="red">
<h1>High risk-Consult a Heart Specialist</h1> 
{%endif%}

<br><br>

<a href="https://cvdpredictor.herokuapp.com/" >Refresh</a>

</center>

</body>

</html>
